 #### Necessary Libraries

In [2]:
import pandas as pd
import os

#### Merging 12 Months of Data into One

In [10]:
#Read the files names

path = './data'
for file in os.listdir(path):
    if not file.startswith('.'):
        files = os.listdir(path) 
        

#Merge the file into one
sales_data = pd.DataFrame()

for file in files:
    file_data = pd.read_csv(path + '/'+ file, sep =',')
    sales_data = pd.concat([sales_data, file_data])
    
sales_data.to_csv(path+'/sales_data.csv', index=False)

#### Read the combined data to sdata Data Frame

In [30]:
sdata = pd.read_csv(path+'/sales_data.csv', sep = ',')
sdata.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"

#### Clean the Data

##### Task 1: Drop Rows of NAN

In [37]:
# Finding the NAN rows
Nan_rows = sdata[sdata.isna().any(axis = 1)]
display(Nan_rows.shape)

#Dropping the NAN rows
sdata.dropna(how='all', axis=0, inplace = True)

(0, 7)

##### Task 2: Find 'Or' and Delete it

In [46]:
or_rows = sdata[sdata['Order Date'].str[0:2] == 'Or']

sdata = sdata[sdata['Order Date'].str[0:2] != 'Or']

sdata.head(

In [62]:
sdata.drop(['Month'], axis=1)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,259358,34in Ultrawide Monitor,1,379.99,10/28/19 10:56,"609 Cherry St, Dallas, TX 75001"
1,259359,27in 4K Gaming Monitor,1,389.99,10/28/19 17:26,"225 5th St, Los Angeles, CA 90001"
2,259360,AAA Batteries (4-pack),2,2.99,10/24/19 17:20,"967 12th St, New York City, NY 10001"
3,259361,27in FHD Monitor,1,149.99,10/14/19 22:26,"628 Jefferson St, New York City, NY 10001"
4,259362,Wired Headphones,1,11.99,10/07/19 16:10,"534 14th St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
186845,248146,Bose SoundSport Headphones,1,99.99,08/29/19 22:19,"868 Hickory St, San Francisco, CA 94016"
186846,248147,AAA Batteries (4-pack),3,2.99,08/31/19 16:26,"206 Lakeview St, Boston, MA 02215"
186847,248148,AA Batteries (4-pack),1,3.84,08/02/19 07:25,"568 13th St, Seattle, WA 98101"
186848,248149,USB-C Charging Cable,1,11.95,08/08/19 12:10,"495 Walnut St, San Francisco, CA 94016"
186849,248150,AA Batteries (4-pack),1,3.84,08/16/19 08:13,"738 Park St, Los Angeles, CA 90001"

 #### Add Additional Necessary Columns

###### Task 1: Add Month Column

In [68]:
sdata['Month'] = sdata[:,sdata['Order Date']].str[0:2]

sdata.head()

TypeError: '(slice(None, None, None), ['Order Date'])' is an invalid key

In [20]:
##### Question 1: What was the best month for sales?How much was earned in that month?